Repository foray1010/ignore-sync: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, yarn mermaid, sort-package-json

.lintstagedrc.yml:

'*.js':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
  - 'jest --bail --findRelatedTests --config .jestrc.json'
  - 'git add'
'*.{json,yaml,yml}':
  - 'yarn prettier --write'
  - 'git add'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
  - 'git add'
'*.mmd':
  - 'yarn mermaid'
  - 'git add'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'
  - 'git add'

chore: move to yarn v3
  .circleci/config.yml
  .yarnrc.yml
  README.md
  package.json
  yarn.lock
Due: yarn prettier --write, yarn remark, sort-package-json

chore: use .node-version to manage development nodejs version
  .node-version
Due: none

chore: update eslint config path
  .lintstagedrc.mjs
  eslint.config.js
  package.json
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore: sync editorconfig
  .editorconfig
Due: none

style: sync husky script styles
  .husky/commit-msg
  .husky/pre-commit
Due: none

fix: support repository with dot or hyphen
  src/generateIgnoreFile.js
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore: unpin axios
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(release): 7.0.0
  CHANGELOG.md
  package.json
Due: yarn prettier --write, yarn remark, sort-package-json

docs: update changelog
  CHANGELOG.md
Due: yarn prettier --write, yarn remark

fix: use default branch instead of master
  README.md
  src/cleanupIgnoreSyncFile.js
  src/cleanupIgnoreSyncFile.test.js
  src/generateIgnoreFile.js
  src/utils/github.js
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark

chore(release): 7.0.1
  CHANGELOG.md
  package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update @foray1010/common-presets monorepo (major)
  .prettierrc.cjs
  .prettierrc.mjs
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  .node-version
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore!: require node `^18.12.0 || >=20.9.0`
  .circleci/config.yml
  .node-version
  package.json
Due: yarn prettier --write, sort-package-json

chore(deps): update yarn to v4
  .yarnrc.yml
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update all dependencies
  package.json
  src/cleanupIgnoreSyncFile.js
  src/decodeIgnoreSyncFile.js
  src/generateIgnoreFile.js
  src/isIgnoreSyncFile.js
  src/renameIgnoreFile.js
  src/utils/joinLinesWithEOF.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update all dependencies
  .husky/commit-msg
  .husky/pre-commit
  .node-version
  package.json
  src/cleanupIgnoreSyncFile.js
  src/decodeIgnoreSyncFile.js
  src/generateIgnoreFile.js
  src/isIgnoreSyncFile.js
  src/renameIgnoreFile.js
  src/utils/joinLinesWithEOF.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update all dependencies
  .husky/commit-msg
  .husky/pre-commit
  .node-version
  README.md
  package.json
  src/cleanupIgnoreSyncFile.js
  src/decodeIgnoreSyncFile.js
  src/generateIgnoreFile.js
  src/isIgnoreSyncFile.js
  src/renameIgnoreFile.js
  src/utils/joinLinesWithEOF.js
  src/utils/joinLinesWithEOF.test.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, sort-package-json

chore!: drop node v21
  package.json
Due: yarn prettier --write, sort-package-json

fix: ensure postinstall always succeeds
  package.json
Due: yarn prettier --write, sort-package-json

ci: fix cannot validate links
  .circleci/config.yml
  README.md
Due: yarn prettier --write, yarn remark

chore(deps): update all dependencies
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(release): 8.0.0
  CHANGELOG.md
  package.json
Due: yarn prettier --write, yarn remark, sort-package-json

docs: remove unnecessary changelog
  CHANGELOG.md
Due: yarn prettier --write, yarn remark

Fix empty source error in ignore file decoding
  src/decodeIgnoreSyncFile.js
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json
