Repository foray1010/ignore-sync: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint --fix, markdownlint

style: avoid R.flip
  src/generateIgnoreFile.js
Due: prettier-eslint --write, eslint --fix

refactor: extract constants
  src/cleanupIgnoreSyncFile.js
  src/constants.json
  src/decodeIgnoreSyncFile.js
  src/generateIgnoreFile.js
  src/utils/highlightComments.js
Due: prettier-eslint --write, eslint --fix

refactor: extract appendToLastData for readability
  src/decodeIgnoreSyncFile.js
Due: prettier-eslint --write, eslint --fix

refactor: extract COMMENT_HEADER_ALERT to constants.json
  src/constants.json
  src/generateIgnoreFile.js
Due: prettier-eslint --write, eslint --fix

refactor: simplify promiseMap
  src/utils/ramdaHelper.js
Due: prettier-eslint --write, eslint --fix

fix: ensure only trailing line break is removed from generated files
  .eslintignore
  .gitignore
  .npmignore
  src/generateIgnoreFile.js
  src/utils/joinLinesWithEOF.js
  src/utils/joinLinesWithEOF.test.js
Due: prettier-eslint --write, eslint --fix

style: remove unnecessary ramda compose to make code cleaner
  src/readFileFromProjectRoot.js
  src/writeIgnoreFile.js
Due: prettier-eslint --write, eslint --fix

fix: do not trim space for ignore patterns and source tags
  src/cleanupIgnoreSyncFile.js
  src/cleanupIgnoreSyncFile.test.js
  src/decodeIgnoreSyncFile.test.js
Due: prettier-eslint --write, eslint --fix

docs: add flowchart
  .lintstagedrc.yml
  docs/flowchart.mmd
  docs/flowchart.mmd.png
  package.json
  yarn.lock
Due: prettier-eslint --write

feat: accept paths as cli arguments & respect .gitignore in subdirectory
  README.md
  package.json
  src/app.js
  src/bin.js
  src/generateIgnoreFile.js
  src/getIgnoreSyncFiles.js
  src/processDirectory.js
  src/processIgnoreSyncFile.js
  src/readFileFromProjectRoot.js
  src/renameIgnoreFile.js
  src/utils/fsHelper.js
  src/utils/ramdaHelper.js
  src/writeIgnoreFile.js
Due: prettier-eslint --write, eslint --fix, markdownlint

chore: do not publish with docs
  .npmignore
  .npmignore-sync
Due: none

chore: fix mermaid lint-staged script
  .lintstagedrc.yml
Due: none

refactor: support changing commit/branch/tag in github.getContentFile
  src/generateIgnoreFile.js
  src/utils/github.js
Due: prettier-eslint --write, eslint --fix

style: always use named function for export
  src/app.js
  src/cleanupIgnoreSyncFile.js
  src/decodeIgnoreSyncFile.js
  src/generateIgnoreFile.js
  src/isIgnoreSyncFile.js
  src/utils/highlightComments.js
Due: prettier-eslint --write, eslint --fix

chore(package): yarn upgrade
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(package): yarn upgrade
  .commitlintrc.yml
  .eslintrc.yml
  .huskyrc.yml
  .lintstagedrc.yml
  circle.yml
  package.json
  yarn.lock
Due: prettier-eslint --write

feat: support `?` which match a single character in ignore file
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(release): 2.0.0
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

chore(deps): add renovate.json
  renovate.json
Due: prettier-eslint --write

chore(deps): add .renovaterc.json
  .renovaterc.json
  renovate.json
Due: prettier-eslint --write

chore(deps): upgrade all devDependencies
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: run prettier on CHANGELOG.md
  .lintstagedrc.yml
  .markdownlint.json
  CHANGELOG.md
Due: prettier-eslint --write, markdownlint

fixup! chore(deps): upgrade all devDependencies
  package.json
  yarn.lock
Due: prettier-eslint --write

chore: fix eslint error
  src/utils/ramdaHelper.js
Due: prettier-eslint --write, eslint --fix

fix(deps): pin dependencies
  package.json
  yarn.lock
Due: prettier-eslint --write

fix(deps): update dependency axios to v0.19.0
  package.json
  yarn.lock
Due: prettier-eslint --write

fix(deps): update dependency fs-extra to v8
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): do not pin dependencies
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(release): 2.0.1
  CHANGELOG.md
  package.json
Due: prettier-eslint --write, markdownlint

fixup! chore(release): 2.0.1
  CHANGELOG.md
Due: markdownlint

chore(deps): update dependency husky to v2.4.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency lint-staged to v8.2.1
  package.json
  yarn.lock
Due: prettier-eslint --write

chore(deps): update dependency markdownlint-cli to v0.17.0
  package.json
  yarn.lock
Due: prettier-eslint --write

Path conditions:
  prettier-eslint --write: (any of: *.js) or (any of: *.json)
  eslint --fix: any of: *.js
  markdownlint: any of: *.md
