Repository foray1010/ignore-sync: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, yarn mermaid, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency eslint to v7.19.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

feat: support glob in local and relative source tag
  README.md
  __fixtures__/.test_dotfile.txt
  __fixtures__/test_glob1.txt
  __fixtures__/test_glob2.txt
  __fixtures__/test_nested/level1.txt
  __fixtures__/test_nested/nested/level2.txt
  package.json
  src/decodeIgnoreSyncFile.js
  src/decodeIgnoreSyncFile.test.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, sort-package-json

chore(release): 3.1.0
  CHANGELOG.md
  package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update dependency lint-staged to v10.5.4
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update @foray1010/common-presets monorepo
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency husky to v5
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency husky to v5
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc.json
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @foray1010/eslint-config to v4.5.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v7.20.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update commitlint monorepo to v12
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency husky to v5.1.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency pinst to v2.1.6
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update commitlint monorepo to v12.0.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

Path conditions:
  yarn prettier --write: (((any of: *.js) or (any of: *.{json,yaml,yml})) or (any of: *.md)) or (any of: package.json)
  yarn eslint --fix: any of: *.js
  jest --bail --findRelatedTests --config .jestrc.json: any of: *.js
  yarn remark: any of: *.md
  yarn mermaid: any of: *.mmd
  sort-package-json: any of: package.json
