Repository foray1010/ignore-sync: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, yarn mermaid, sort-package-json

.lintstagedrc.yml:

'*.js':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
  - 'jest --bail --findRelatedTests --config .jestrc.json'
  - 'git add'
'*.{json,yaml,yml}':
  - 'yarn prettier --write'
  - 'git add'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
  - 'git add'
'*.mmd':
  - 'yarn mermaid'
  - 'git add'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'
  - 'git add'

chore(deps): update dependency jest to v26.5.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency remark-cli to v9
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency @foray1010/remark-preset to v3.3.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v10.4.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency jest to v26.6.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency jest to v26.6.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(deps): update dependency axios to v0.21.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update @foray1010/common-presets monorepo
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v10.5.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v7.12.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v10.5.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

Append path to local files
  src/generateIgnoreFile.js
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

Move logic to a new relative tag
  src/generateIgnoreFile.js
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

Update generateIgnoreFile.js
  src/generateIgnoreFile.js
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

feat: append path to local files by [relative] (#301)
  src/generateIgnoreFile.js
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fixup! feat: append path to local files by [relative] (#301)
  src/generateIgnoreFile.js
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

docs: update 'how to use'
  README.md
Due: yarn prettier --write, yarn remark

chore(release): 3.0.0
  CHANGELOG.md
  package.json
Due: yarn prettier --write, yarn remark, sort-package-json

docs: cleanup changelog
  CHANGELOG.md
Due: yarn prettier --write, yarn remark
