Repository foray1010/ignore-sync: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, yarn mermaid, sort-package-json

chore(deps): update dependency eslint to v8.17.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v13
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency jest to v28.1.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v13.0.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update @foray1010/common-presets monorepo
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: use cjs/mjs instead of yml for config files
  .eslintrc.cjs
  .eslintrc.yml
  .lintstagedrc.cjs
  .prettierrc.cjs
  .remarkrc.mjs
  .remarkrc.yml
  jest.config.mjs
Due: yarn prettier --write

Revert "fix(deps): pin dependencies"
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: use @foray1010/jest-preset
  jest.config.mjs
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update jest to v29
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update @foray1010/common-presets monorepo
  package.json
  src/bin.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore: align dependencies version range style
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore!: drop node.js v12 and v17
  package.json
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency axios to v1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: relocate test files
  src/utils/formatRelativeIgnoreFile.test.js
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

feat: support referencing other ignore-sync files
  .npmignore
  .npmignore-sync
  README.md
  src/generateIgnoreFile.js
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark

chore(release): 6.0.0
  CHANGELOG.md
  package.json
Due: yarn prettier --write, yarn remark, sort-package-json

docs: update changelog for v6
  CHANGELOG.md
Due: yarn prettier --write, yarn remark

chore: cleanup manual test files
  .npmignore
  .npmignore-sync
Due: none

fix: fix a breaking change introduced by axios v1.1.0
  package.json
  src/utils/github.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(release): 6.0.1
  CHANGELOG.md
  package.json
Due: yarn prettier --write, yarn remark, sort-package-json

fix: fix a breaking change introduced by axios v1.1.2
  package.json
  src/utils/github.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(release): 6.0.2
  CHANGELOG.md
  package.json
Due: yarn prettier --write, yarn remark, sort-package-json

docs: fix changelog
  CHANGELOG.md
Due: yarn prettier --write, yarn remark

refactor: remove unnecessary pinst
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @foray1010/eslint-config to v8
  package.json
  src/app.js
  src/bin.js
  src/cleanupIgnoreSyncFile.js
  src/cleanupIgnoreSyncFile.test.js
  src/decodeIgnoreSyncFile.js
  src/decodeIgnoreSyncFile.test.js
  src/generateIgnoreFile.js
  src/getIgnoreSyncFiles.js
  src/isIgnoreSyncFile.test.js
  src/processDirectory.js
  src/processIgnoreSyncFile.js
  src/utils/formatRelativeIgnoreFile.js
  src/utils/formatRelativeIgnoreFile.test.js
  src/utils/highlightComments.js
  src/utils/highlightComments.test.js
  src/utils/joinLinesWithEOF.js
  src/utils/joinLinesWithEOF.test.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

refactor: use native es modules
  .lintstagedrc.mjs
  package.json
  src/app.js
  src/bin.js
  src/cleanupIgnoreSyncFile.js
  src/cleanupIgnoreSyncFile.test.js
  src/constants.js
  src/constants.json
  src/decodeIgnoreSyncFile.js
  src/decodeIgnoreSyncFile.test.js
  src/generateIgnoreFile.js
  src/getIgnoreSyncFiles.js
  src/isIgnoreSyncFile.js
  src/isIgnoreSyncFile.test.js
  src/processDirectory.js
  src/processIgnoreSyncFile.js
  src/renameIgnoreFile.js
  src/utils/formatRelativeIgnoreFile.js
  src/utils/formatRelativeIgnoreFile.test.js
  src/utils/fsHelper.js
  src/utils/github.js
  src/utils/highlightComments.js
  src/utils/highlightComments.test.js
  src/utils/joinLinesWithEOF.js
  src/utils/joinLinesWithEOF.test.js
  src/utils/ramdaHelper.js
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

docs: remove outdated docs
  README.md
Due: yarn prettier --write, yarn remark

chore(deps): update @foray1010/common-presets monorepo (major)
  package.json
  src/app.js
  src/bin.js
  src/cleanupIgnoreSyncFile.js
  src/decodeIgnoreSyncFile.js
  src/generateIgnoreFile.js
  src/isIgnoreSyncFile.js
  src/processDirectory.js
  src/processIgnoreSyncFile.js
  src/utils/fsHelper.js
  src/utils/joinLinesWithEOF.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore!: require node `^16.14.0 || >=18.12.0`
  .circleci/config.yml
  package.json
Due: yarn prettier --write, sort-package-json

chore(deps): update @foray1010/common-presets monorepo (major)
  .eslintrc.cjs
  eslint.config.mjs
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: update eslint config
  package.json
  src/app.js
  src/decodeIgnoreSyncFile.js
  src/generateIgnoreFile.js
  src/utils/formatRelativeIgnoreFile.js
  src/utils/fsHelper.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

Path conditions:
  yarn prettier --write: (((any of: *.js) or (any of: *.{json,yaml,yml})) or (any of: *.md)) or (any of: package.json)
  yarn eslint --fix: any of: *.js
  jest --bail --findRelatedTests --config .jestrc.json: any of: *.js
  yarn remark: any of: *.md
  yarn mermaid: any of: *.mmd
  sort-package-json: any of: package.json
