Repository foray1010/ignore-sync: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, yarn mermaid, sort-package-json

.lintstagedrc.yml:

'*.js':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
  - 'jest --bail --findRelatedTests --config .jestrc.json'
  - 'git add'
'*.{json,yaml,yml}':
  - 'yarn prettier --write'
  - 'git add'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
  - 'git add'
'*.mmd':
  - 'yarn mermaid'
  - 'git add'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'
  - 'git add'

refactor: write jest config file in javascript
  .jestrc.json
  .lintstagedrc.js
  jest.config.js
  package.json
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

chore(deps): update dependency jest to v26.6.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency @foray1010/eslint-config to v4.1.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v7.13.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: extract formatRelativeIgnoreFile
  src/generateIgnoreFile.js
  src/utils/__tests__/formatRelativeIgnoreFile.test.js
  src/utils/formatRelativeIgnoreFile.js
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fix(relative-tag): missing ** in pattern & generate invalid ignore pattern on Windows
  src/utils/__tests__/formatRelativeIgnoreFile.test.js
  src/utils/formatRelativeIgnoreFile.js
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fix(relative-tag): missing ** in pattern & generate invalid ignore pattern on Windows (#308)
  src/generateIgnoreFile.js
  src/utils/__tests__/formatRelativeIgnoreFile.test.js
  src/utils/formatRelativeIgnoreFile.js
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(release): 3.0.1
  CHANGELOG.md
  package.json
Due: yarn prettier --write, yarn remark, sort-package-json

chore(deps): update dependency @foray1010/eslint-config to v4.3.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @foray1010/eslint-config to v4.3.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @foray1010/eslint-config to v4.4.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore: update lint-staged config
  .lintstagedrc.js
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency prettier to v2.2.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v7.14.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v10.5.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency prettier to v2.2.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency cross-env to v7.0.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json
