Repository foray1010/ignore-sync: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, yarn mermaid, sort-package-json

.lintstagedrc.yml:

'*.js':
  - 'yarn prettier --write'
  - 'yarn eslint --fix'
  - 'jest --bail --findRelatedTests --config .jestrc.json'
  - 'git add'
'*.{json,yaml,yml}':
  - 'yarn prettier --write'
  - 'git add'
'*.md':
  - 'yarn prettier --write'
  - 'yarn remark'
  - 'git add'
'*.mmd':
  - 'yarn mermaid'
  - 'git add'
'package.json':
  - 'sort-package-json'
  - 'yarn prettier --write'
  - 'git add'

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update circleci/node docker tag to v12.22.1
  .circleci/config.yml
Due: yarn prettier --write

chore(deps): update node.js to v15
  .circleci/config.yml
Due: yarn prettier --write

chore(deps): update dependency @foray1010/eslint-config to v5.0.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v11
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v7.26.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency prettier to v2.3.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fix(windows-paths): always use posix join on normalized line
  package-lock.json
  src/decodeIgnoreSyncFile.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

fix(windows-paths): revert lockfile changes
  package-lock.json
  yarn.lock
Due: yarn prettier --write

fix(windows-paths): always use posix join on normalized line (#391)
  src/decodeIgnoreSyncFile.js
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(release): 4.0.0
  CHANGELOG.md
  package.json
Due: yarn prettier --write, yarn remark, sort-package-json

fix: ignore unnecessary files in release build
  .npmignore
  .npmignore-sync
  package.json
Due: yarn prettier --write, sort-package-json

Revert "chore(deps): update circleci/node docker tag to v12.22.1"
  .circleci/config.yml
Due: yarn prettier --write

chore(deps): update commitlint monorepo to v12.1.4
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency eslint to v7.27.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency jest to v27
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency jest to v27.0.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json
