Repository foray1010/ignore-sync: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, yarn mermaid, sort-package-json

chore(deps): update dependency cross-env to v7.0.2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): lock file maintenance
  yarn.lock
Due: none

fix(deps): update dependency fs-extra to v9
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

refactor: remove fs-extra
  package.json
  src/utils/fsHelper.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

refactor: rely less on ramda
  src/app.js
  src/getIgnoreSyncFiles.js
  src/processDirectory.js
  src/utils/fsHelper.js
  src/utils/highlightComments.js
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json

chore(deps): update dependency lint-staged to v10.0.9
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency prettier to v2
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! chore(deps): update dependency prettier to v2
  CHANGELOG.md
  README.md
  package.json
  src/app.js
  src/bin.js
  src/cleanupIgnoreSyncFile.js
  src/decodeIgnoreSyncFile.js
  src/generateIgnoreFile.js
  src/getIgnoreSyncFiles.js
  src/processDirectory.js
  src/processIgnoreSyncFile.js
  src/utils/fsHelper.js
  src/utils/highlightComments.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, yarn remark, sort-package-json

chore(deps): update dependency @foray1010/eslint-config to v2.2.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @foray1010/eslint-config to v2.2.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @foray1010/remark-preset to v3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

fixup! chore(deps): update dependency @foray1010/remark-preset to v3
  .lintstagedrc.js
  .lintstagedrc.yml
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix, jest --bail --findRelatedTests --config .jestrc.json, sort-package-json

fixup! fixup! chore(deps): update dependency @foray1010/remark-preset to v3
  package.json
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v10.1.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency @foray1010/remark-preset to v3.0.1
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency jest to v25.2.7
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency prettier to v2.0.4
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency sort-package-json to v1.41.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency jest to v25.3.0
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

chore(deps): update dependency lint-staged to v10.1.3
  package.json
  yarn.lock
Due: yarn prettier --write, sort-package-json

Path conditions:
  yarn prettier --write: (((any of: *.js) or (any of: *.{json,yaml,yml})) or (any of: *.md)) or (any of: package.json)
  yarn eslint --fix: any of: *.js
  jest --bail --findRelatedTests --config .jestrc.json: any of: *.js
  yarn remark: any of: *.md
  yarn mermaid: any of: *.mmd
  sort-package-json: any of: package.json
